In [1]:
# Question 1: Load the population estimates file into a dataframe. Specify
# an absolute path using the Python os library to join filenames, so that
# anyone who clones your homework repo only needs to update one for all
# loading to work.  Then show code doing some basic exploration of the
# dataframe; imagine you are an intern and are handed a dataset that your
# boss isn't familiar with, and asks you to summarize for them.

In [2]:
import pandas as pd 
import os

#nst-est2019-alldata.csv
path = "C:\\Python\\hafidh\\"
file_name = "nst-est2019-alldata.csv"


print(path+file_name)

data = pd.read_csv(path+file_name)

Using matplotlib backend: TkAgg
C:\Python\hafidh\nst-est2019-alldata.csv

In [3]:
#count columns
data.columns

Index(['SUMLEV', 'REGION', 'STATE', 'CENSUS2010POP', 'ESTIMATESBASE2010',
       'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012',
       'POPESTIMATE2013', 'POPESTIMATE2014',
       ...
       'RDOMESTICMIG2019', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015', 'RNETMIG2016', 'RNETMIG2017',
       'RNETMIG2018', 'RNETMIG2019'],
      dtype='object', length=139)

In [4]:
#explore data
data.describe()

,SUMLEV,STATE,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
count,57.000000,57.000000,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,38.070175,27.175439,1.631513e+07,1.631580e+07,1.634538e+07,1.646227e+07,1.658118e+07,1.669428e+07,1.681470e+07,1.693647e+07,...,0.331243,2.136492,2.439650,2.562778,1.887051,2.312185,2.228335,1.859472,1.232621,1.828702
std,6.391567,18.125675,4.436075e+07,4.436260e+07,4.444586e+07,4.477654e+07,4.511484e+07,4.543594e+07,4.578079e+07,4.613239e+07,...,5.676826,4.080487,4.784983,5.029317,5.604569,6.155117,6.690476,7.092572,7.766299,5.439458
min,10.000000,0.000000,5.636260e+05,5.637750e+05,5.644870e+05,5.672990e+05,5.763050e+05,5.821220e+05,5.825310e+05,5.856130e+05,...,-12.929847,-14.533549,-14.982183,-13.803542,-18.263032,-18.480599,-19.848533,-23.228903,-37.860351,-12.031221
25%,40.000000,12.000000,1.852994e+06,1.853018e+06,1.854239e+06,1.856301e+06,1.856872e+06,1.865279e+06,1.879321e+06,1.891277e+06,...,-3.130827,0.242487,-0.409588,-0.154827,-0.762969,-0.934854,-1.440045,-1.596256,-1.711806,-1.053932
50%,40.000000,27.000000,4.625364e+06,4.625366e+06,4.635649e+06,4.671994e+06,4.717354e+06,4.764080e+06,4.823617e+06,4.852347e+06,...,-0.247295,1.901071,1.416798,1.655839,1.689162,0.626357,0.754274,1.182732,0.855382,0.673014
75%,40.000000,41.000000,9.535483e+06,9.535751e+06,9.574323e+06,9.657592e+06,9.749476e+06,9.843336e+06,9.929848e+06,9.931715e+06,...,4.702641,4.278167,5.054575,4.863492,5.146804,5.719232,7.107500,6.510551,5.434037,5.960244
max,40.000000,72.000000,3.087455e+08,3.087581e+08,3.093217e+08,3.115569e+08,3.138310e+08,3.159937e+08,3.183010e+08,3.206352e+08,...,15.468110,16.246186,16.716664,22.949497,14.080772,16.491494,18.258305,15.616389,15.559809,15.562524

In [5]:
# data.mean().plot(kind='bar')

In [6]:
data.head(10)

,SUMLEV,REGION,STATE,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,308745538,308758105,309321666,311556874,313830990,315993715,318301008,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,55317240,55318443,55380134,55604223,55775216,55901806,56006011,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,66927001,66929725,66974416,67157800,67336743,67560379,67745167,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,114555744,114563030,114866680,116006522,117241208,118364400,119624037,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,71945553,71946907,72100436,72788329,73477823,74167130,74925793,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083
5,40,3,1,4779736,4780125,4785437,4799069,4815588,4830081,4841799,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
6,40,4,2,710231,710249,713910,722128,730443,737068,736283,...,-12.929847,0.587728,1.416798,-0.955359,-11.460949,-7.997118,-3.897349,-10.992765,-13.859140,-12.031221
7,40,4,4,6392017,6392288,6407172,6472643,6554978,6632764,6730413,...,12.609078,4.278167,6.899802,6.376679,9.168478,9.597577,11.964782,10.878879,12.962934,13.687161
8,40,3,5,2915918,2916031,2921964,2940667,2952164,2959400,2967392,...,0.834503,3.294766,0.827785,0.057853,-0.091449,1.075446,1.486269,2.009593,0.958896,0.923429
9,40,4,6,37253956,37254519,37319502,37638369,37948800,38260787,38596972,...,-5.151429,1.276797,1.495016,1.649031,2.203551,1.984957,0.500044,-0.629909,-2.130954,-3.276681

In [7]:
data.tail(10)

,SUMLEV,REGION,STATE,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
47,40,3,47,6346105,6346276,6355311,6399291,6453898,6494340,6541223,...,5.295128,3.999341,5.375475,3.586588,4.550168,5.190219,6.072290,7.675288,7.543825,6.661665
48,40,3,48,25145561,25146091,25241971,25645629,26084481,26480266,26964333,...,4.361336,7.456866,8.764683,7.132347,10.003069,10.644301,8.369711,6.510551,5.448428,6.618846
49,40,4,49,2763885,2763891,2775332,2814384,2853375,2897640,2936879,...,4.902266,0.776426,1.451720,3.053374,1.683429,3.858608,9.016381,8.864528,6.983989,6.656804
50,40,1,50,625741,625737,625879,627049,626090,626210,625214,...,-1.092645,0.897099,-2.464212,-0.352951,-2.290191,-0.028790,-2.507861,1.543268,0.440457,-0.479033
51,40,3,51,8001024,8001049,8023699,8101155,8185080,8252427,8310993,...,-1.072502,4.396815,5.054575,3.455999,2.208119,1.521520,1.273915,2.382525,0.786684,0.673014
52,40,4,53,6724540,6724540,6742830,6826627,6897058,6963985,7054655,...,4.950999,6.906540,4.878573,4.473256,7.799901,10.408549,13.254138,12.865626,9.468242,8.135276
53,40,3,54,1852994,1853018,1854239,1856301,1856872,1853914,1849489,...,-3.933336,1.901071,0.828402,-0.825701,-1.779985,-2.551781,-4.330978,-5.336583,-4.484031,-4.127417
54,40,2,55,5686986,5687285,5690475,5705288,5719960,5736754,5751525,...,-0.247295,-0.777306,-0.834993,0.066337,-0.421473,-1.068755,-0.628600,0.729926,0.763089,0.327262
55,40,4,56,563626,563775,564487,567299,576305,582122,582531,...,-1.750320,-0.379930,10.019202,4.863492,-4.816885,0.207166,-7.182252,-13.322489,-5.725739,-0.819814
56,40,X,72,3725789,3726157,3721525,3678732,3634488,3593077,3534874,...,0.000000,-14.533549,-14.982183,-13.803542,-18.263032,-18.480599,-19.848533,-23.228903,-37.860351,2.421463

In [8]:
# Question 2: Your data only includes fips codes for states.  Use the us
# library to crosswalk fips codes to state abbreviations.  Keep only the
# state abbreviations in your data.

In [22]:
for index, row in data.iterrows():
    print(row['STATE'])

0
0
0
0
0
AL
AK
AZ
AR
CA
CO
CT
DE
DC
FL
GA
HI
ID
IL
IN
IA
KS
KY
LA
ME
MD
MA
MI
MN
MS
MO
MT
NE
NV
NH
NJ
NM
NY
NC
ND
OH
OK
OR
PA
RI
SC
SD
TN
TX
UT
VT
VA
WA
WV
WI
WY
PR

In [26]:
import us

fips_code = 5

print(str("%02d" % fips_code))
print(us.states.lookup(str("%02d" % fips_code)))
print(us.states.lookup(str("%02d" % fips_code)).abbr)

05
Arkansas
AR

In [11]:
# https://github.com/unitedstates/python-us
# pip install us


for index, row in data.iterrows():
    try:
        new_state = us.states.lookup(str("%02d" % row['STATE'])).abbr
        data.loc[index,'STATE'] = str(new_state)
    except:
        pass

In [12]:
# Question 3: Subset the data so that only observations for individual
# US states remain, and only state names and data for the population
# estimates in 2010-2019 remain.

In [13]:
data.head(10)

,SUMLEV,REGION,STATE,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,308745538,308758105,309321666,311556874,313830990,315993715,318301008,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,55317240,55318443,55380134,55604223,55775216,55901806,56006011,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,66927001,66929725,66974416,67157800,67336743,67560379,67745167,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,114555744,114563030,114866680,116006522,117241208,118364400,119624037,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,71945553,71946907,72100436,72788329,73477823,74167130,74925793,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083
5,40,3,AL,4779736,4780125,4785437,4799069,4815588,4830081,4841799,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
6,40,4,AK,710231,710249,713910,722128,730443,737068,736283,...,-12.929847,0.587728,1.416798,-0.955359,-11.460949,-7.997118,-3.897349,-10.992765,-13.859140,-12.031221
7,40,4,AZ,6392017,6392288,6407172,6472643,6554978,6632764,6730413,...,12.609078,4.278167,6.899802,6.376679,9.168478,9.597577,11.964782,10.878879,12.962934,13.687161
8,40,3,AR,2915918,2916031,2921964,2940667,2952164,2959400,2967392,...,0.834503,3.294766,0.827785,0.057853,-0.091449,1.075446,1.486269,2.009593,0.958896,0.923429
9,40,4,CA,37253956,37254519,37319502,37638369,37948800,38260787,38596972,...,-5.151429,1.276797,1.495016,1.649031,2.203551,1.984957,0.500044,-0.629909,-2.130954,-3.276681

In [14]:
# Question 4: Reshape the data from wide to long, making sure you reset
# the index to the default values if any of your data is located in the index.

In [29]:
contoh = data.iloc[:3,[2,3]]

contoh.head(10)

  STATE  CENSUS2010POP
0     0      308745538
1     0       55317240
2     0       66927001

In [30]:
total_index = len(data)
total_columns = len(data.columns)

new_data = data.iloc[5:total_index, [2,5,6,7,8,9,10,11,12,13,14]]

new_data.head(10)

,STATE,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
5,AL,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
6,AK,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
7,AZ,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
8,AR,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
9,CA,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
10,CO,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
11,CT,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
12,DE,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
13,DC,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
14,FL,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737

In [ ]:
# Question 4: Reshape the data from wide to long, making sure you reset
# the index to the default values if any of your data is located in the index.

In [16]:
# https://hausetutorials.netlify.app/posts/2020-05-14-reshaping-data-in-python-pandas/
    
long_data = pd.melt(frame=new_data, 
        id_vars=["STATE"], 
        var_name="YEAR", 
        value_name="POPESTIMATE")

long_data.head(100)

   STATE             YEAR  POPESTIMATE
0     AL  POPESTIMATE2010      4785437
1     AK  POPESTIMATE2010       713910
2     AZ  POPESTIMATE2010      6407172
3     AR  POPESTIMATE2010      2921964
4     CA  POPESTIMATE2010     37319502
..   ...              ...          ...
95    TX  POPESTIMATE2011     25645629
96    UT  POPESTIMATE2011      2814384
97    VT  POPESTIMATE2011       627049
98    VA  POPESTIMATE2011      8101155
99    WA  POPESTIMATE2011      6826627

[100 rows x 3 columns]

In [18]:
# Question 5: Open the state-visits.csv file, and fill in the VISITED column
# with a dummy variable for whether you've visited a state or not.  If you
# haven't been to many states, then filling in a random selection of them
# is fine too.  Save your changes.  Then load the file as a dataframe in
# Python, and merge the visited column into your population dataframe, only
# keeping values that appear in both dataframes.  Are any observations
# dropped from this?  Show code where you investigate your merge, and
# display any observations that weren't in both dataframes.

In [17]:
data_visit = pd.read_csv("state-visits.csv")
data_visit.head(30)

   STATE  VISITED
0     AL    111.0
1     AK    222.0
2     AZ      NaN
3     AR      NaN
4     CA      NaN
5     CO      NaN
6     CT      NaN
7     DE      NaN
8     DC      NaN
9     FL      NaN
10    GA      NaN
11    GU      NaN
12    HI      NaN
13    ID      NaN
14    IL      NaN
15    IN      NaN
16    IA      NaN
17    KS      NaN
18    KY      NaN
19    LA      NaN
20    ME      NaN
21    MD      NaN
22    MA      NaN
23    MI      NaN
24    MN      NaN
25    MS      NaN
26    MO      NaN
27    MT      NaN
28    NE      NaN
29    NV      NaN

In [19]:
# df_merge_col = pd.merge(df_row, df3, on='id')
# df_merge_col

df_inner_merge = pd.merge(long_data,data_visit,how='inner',on="STATE")
df_inner_merge.head(100)

   STATE             YEAR  POPESTIMATE  VISITED
0     AL  POPESTIMATE2010      4785437    111.0
1     AL  POPESTIMATE2011      4799069    111.0
2     AL  POPESTIMATE2012      4815588    111.0
3     AL  POPESTIMATE2013      4830081    111.0
4     AL  POPESTIMATE2014      4841799    111.0
..   ...              ...          ...      ...
95    FL  POPESTIMATE2015     20209042      NaN
96    FL  POPESTIMATE2016     20613477      NaN
97    FL  POPESTIMATE2017     20963613      NaN
98    FL  POPESTIMATE2018     21244317      NaN
99    FL  POPESTIMATE2019     21477737      NaN

[100 rows x 4 columns]

In [31]:
df_all_merge = pd.merge(long_data,data_visit,on="STATE",how='outer',indicator=True)
df_all_merge.head(100)

   STATE             YEAR  POPESTIMATE  VISITED
0     AL  POPESTIMATE2010    4785437.0    111.0
1     AL  POPESTIMATE2011    4799069.0    111.0
2     AL  POPESTIMATE2012    4815588.0    111.0
3     AL  POPESTIMATE2013    4830081.0    111.0
4     AL  POPESTIMATE2014    4841799.0    111.0
..   ...              ...          ...      ...
95    FL  POPESTIMATE2015   20209042.0      NaN
96    FL  POPESTIMATE2016   20613477.0      NaN
97    FL  POPESTIMATE2017   20963613.0      NaN
98    FL  POPESTIMATE2018   21244317.0      NaN
99    FL  POPESTIMATE2019   21477737.0      NaN

[100 rows x 4 columns]

In [21]:
df_all_merge.query('_merge != "both"').head(100)

    STATE             YEAR  POPESTIMATE  VISITED      _merge
510    PR  POPESTIMATE2010    3721525.0      NaN   left_only
511    PR  POPESTIMATE2011    3678732.0      NaN   left_only
512    PR  POPESTIMATE2012    3634488.0      NaN   left_only
513    PR  POPESTIMATE2013    3593077.0      NaN   left_only
514    PR  POPESTIMATE2014    3534874.0      NaN   left_only
515    PR  POPESTIMATE2015    3473232.0      NaN   left_only
516    PR  POPESTIMATE2016    3406672.0      NaN   left_only
517    PR  POPESTIMATE2017    3325286.0      NaN   left_only
518    PR  POPESTIMATE2018    3193354.0      NaN   left_only
519    PR  POPESTIMATE2019    3193694.0      NaN   left_only
520    GU              NaN          NaN      NaN  right_only